.auth {
  display: flex;
  justify-content: center;
  gap: 0.5rem; /* equivalente a 8px */
}

.signup {
  text-align: center;
  color: var(--primary-500);
}

.signup a {
  color: inherit;
  transition: color 0.2s ease;
}

.signup a:hover {
  color: var(--primary-800);
}
