.dashboard {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  height: 100vh;

  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 64px 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
  height: 100vh;
}

.main {
  grid-area: content;
  background-color: var(--white-600);
  padding: 16px;
}
