.remeberme {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remeberme a {
  color: var(--primary-500);
  font-size: var(--heading-12);
}

.remeberme a:hover {
  color: var(--primary-800);
}

.auth {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.singup {
  text-align: center;
  color: var(--primary-500);
}

.singup a:hover {
  color: var(--primary-800);
}
