:root {
  --yellow-50: #fefdf1;
  --yellow-100: #fdf8d5;
  --yellow-200: #fcf5c0;
  --yellow-300: #fbf1a3;
  --yellow-400: #faee91;
  --yellow-500: #f9ea76;
  --yellow-600: #e3d56b;
  --yellow-700: #b1a654;
  --yellow-800: #898141;
  --yellow-900: #696232;

  --primary-50: #e9ebed;
  --primary-100: #bbc1c6;
  --primary-200: #9aa3aa;
  --primary-300: #6c7884;
  --primary-400: #505e6c;
  --primary-500: #243647;
  --primary-600: #213141;
  --primary-700: #1a2632;
  --primary-800: #141e27;
  --primary-900: #0f171e;

  --secondary-50: #fefdfb;
  --secondary-100: #fcf8f3;
  --secondary-200: #faf4ed;
  --secondary-300: #f8f0e5;
  --secondary-400: #f7ede0;
  --secondary-500: #f5e8d8;
  --secondary-600: #dfd3c5;
  --secondary-700: #aea599;
  --secondary-800: #878077;
  --secondary-900: #67615b;

  --success-50: #e9f8eb;
  --success-100: #baeac0;
  --success-200: #99e0a1;
  --success-300: #6bd176;
  --success-400: #4ec95c;
  --success-500: #22bb33;
  --success-600: #1faa2e;
  --success-700: #188524;
  --success-800: #13671c;
  --success-900: #0e4f15;

  --danger-50: #f8e9e9;
  --danger-100: #eababb;
  --danger-200: #e0999a;
  --danger-300: #d16a6c;
  --danger-400: #c94d50;
  --danger-500: #bb2124;
  --danger-600: #aa1e21;
  --danger-700: #85171a;
  --danger-800: #671214;
  --danger-900: #4f0e0f;

  --warning-50: #fef7ed;
  --warning-100: #fae6c8;
  --warning-200: #f8d9ae;
  --warning-300: #f5c888;
  --warning-400: #f3bd71;
  --warning-500: #f0ad4e;
  --warning-600: #da9d47;
  --warning-700: #aa7b37;
  --warning-800: #845f2b;
  --warning-900: #654921;

  --black-50: #e6e6e6;
  --black-100: #b0b0b0;
  --black-200: #8a8a8a;
  --black-300: #545454;
  --black-400: #333333;
  --black-500: #000000;
  --black-600: #000000;
  --black-700: #000000;
  --black-800: #000000;
  --black-900: #000000;

  --white-50: #ffffff;
  --white-100: #ffffff;
  --white-200: #ffffff;
  --white-300: #ffffff;
  --white-400: #ffffff;
  --white-500: #ffffff;
  --white-600: #e8e8e8;
  --white-700: #b5b5b5;
  --white-800: #8c8c8c;
  --white-900: #6b6b6b;

  --neutral-50: #f7f7f7;
  --neutral-100: #e5e5e5;
  --neutral-200: #d8d8d8;
  --neutral-300: #c6c6c6;
  --neutral-400: #bbbbbb;
  --neutral-500: #aaaaaa;
  --neutral-600: #9b9b9b;
  --neutral-700: #797979;
  --neutral-800: #5e5e5e;
  --neutral-900: #474747;
}
