.header {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.75rem;
    background: var(--white-500);
}

.actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.pause {
    color: var(--green-500);
}

.pause:hover {
    color: var(--green-800);
}

.close {
    color: var(--red-500);
}

.close:hover {
    color: var(--red-800);
}
