.field {
  display: flex;
  flex-direction: column;
}

.field label {
  font-weight: bold;
  font-size: var(--heading-14);
}

.field input {
  width: 24.5rem;
  height: 3.5rem;

  padding-left: 0.5rem;
  font-size: var(--heading-14);

  border-radius: var(--base-border-radius);
  background: var(--primary-100);
  color: var(--dark-gray-500);
  outline: none;
}

.field input:hover {
  border: 1px solid var(--primary-500);
}

.field input::placeholder {
  color: var(--dark-gray-200);
}

.field input:focus {
  border: 1px solid var(--primary-500);
}

.errorMessage {
  height: 1.125rem;
  font-weight: bold;
  font-size: var(--heading-12);
  margin-left: 0.5rem;
  color: var(--red-500);
}

.inputIcon {
  display: flex;
  width: 24.5rem;

  align-items: center;
  position: relative;
}

.icon {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.checkbox {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  font-size: var(--heading-12);
}

.checkbox input {
  display: none;
}

.checkbox span {
  font-weight: bold;
  height: 1.5rem;
  width: 1.5rem;
  background: var(--primary-100);
  display: inline-block;
  position: relative;
  border-radius: var(--base-border-radius);
}

.checkbox input[type="checkbox"]:checked + span:before {
  content: "\2714";
  position: absolute;
  top: 1px;
  left: 0.375rem;
  font-size: var(--heading-16);
  color: var(--primary-500);
}

@media screen and (max-width: 550px) {
  .field input {
    width: 16.25rem;
    padding-left: 0.25rem;
  }

  .inputIcon {
    width: 16.25rem;
  }
}
