.field {
  display: flex;
  flex-direction: column;
}

.field label {
  font-weight: bold;
  font-size: var(--heading-14);
}

.field input {
  width: 392px;
  height: 56px;

  padding-left: 8px;
  font-size: var(--heading-14);

  border-radius: var(--base-border-radius);
  background: var(--primary-100);
  color: var(--dark-gray-500);
}

.field input:hover {
  border: 1px solid var(--primary-500);
}

.field input::placeholder {
  color: var(--dark-gray-200);
}

.field input:focus {
  outline: none;
  border: 1px solid var(--primary-500);
}

.errorMessage {
  height: 18px;
  font-weight: bold;
  font-size: var(--heading-12);
  margin-left: 8px;
  color: var(--red-500);
}

.inputIcon {
  display: flex;
  align-items: center;
  position: relative;
}

.icon {
  position: absolute;
  right: 16px;
  cursor: pointer;
}

.checkbox {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: var(--heading-12);
}

.checkbox input {
  display: none;
}

.checkbox span {
  font-weight: bold;
  height: 24px;
  width: 24px;
  background: var(--primary-100);
  display: inline-block;
  position: relative;
  border-radius: var(--base-border-radius);
}

.checkbox input[type="checkbox"]:checked + span:before {
  content: "\2714";
  position: absolute;
  top: 1px;
  left: 6px;
  font-size: var(--heading-16);
  color: var(--primary-500);
}

.selectField label {
  font-weight: bold;
  font-size: var(--heading-14);
}

.selectField select {
  appearance: base-select;
}

.selectField select::picker-icon {
  color: var(--primary-500);
  transition: 0.4s rotate;
}

.selectField select:open::picker-icon {
  rotate: 180deg;
}

.selectField select {
  display: flex;
  align-items: center;
  width: 392px;
  height: 56px;
  font-size: var(--heading-14);
  padding: 0px 8px;
  border-radius: var(--base-border-radius);
  background: var(--primary-100);
  color: var(--dark-gray-500);
}

.selectField select:hover {
  border: 1px solid var(--primary-500);
}

.selectField select:focus {
  outline: none;
}

.selectField option {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  background: var(--primary-200);
  padding: 8px;
  transition: 0.4s;
}

.selectField option:last-of-type {
  border-radius: 0 0 var(--base-border-radius) var(--base-border-radius);
}

.selectField option:not(option:last-of-type) {
  border-bottom: none;
}

.selectField option:first-of-type {
  border-radius: var(--base-border-radius) var(--base-border-radius) 0 0;
}

.selectField option:first-of-type:hover {
  cursor: unset;
  background: var(--primary-200);
}

.selectField option:hover,
.selectField option:focus {
  cursor: pointer;
  background: var(--primary-500);
}

@media screen and (max-width: 550px) {
  .field input {
    width: 260px;
    padding-left: 4px;
  }

  .selectField select {
    width: 260px;
  }
}
