.content {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* 32px */
  position: relative;
}

.cards {
  width: 100%;
  height: 4rem; /* 64px */
  display: flex;
  gap: 2rem; /* 32px */
}

.tableContainer {
  width: 100%;
  height: 37.5rem; /* 600px */
  background: var(--white-500);
  border-radius: var(--base-border-radius);
  box-shadow: var(--base-shadow);
  padding: 3.625rem 7.1875rem; /* 58px 115px */
}

.searchAndAdd {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5rem; /* 8px */
}

.add {
  margin-bottom: 0.9375rem; /* 15px */
  color: var(--primary-500);
  transition: color 0.2s ease;
}

.add:hover {
  color: var(--primary-800);
}

.view,
.play {
  color: var(--green-500);
  transition: color 0.2s ease;
}

.view:hover,
.play:hover {
  color: var(--green-800);
}

.trash {
  color: var(--red-500);
  transition: color 0.2s ease;
}

.trash:hover {
  color: var(--red-800);
}

.modal {
  width: 958px;
  height: 555px;
  border-radius: 0.5rem;
  box-shadow: var(--base-shadow);
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalContent h1 {
  width: 50%;
  text-align: center;
  font-weight: bold;
  font-size: var(--heading-32);
}

.cards {
  display: grid;
  gap: 52px;
  padding: 10px 16px 0 16px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
  cursor: pointer;
}

.card:hover {
  border: 1px solid var(--primary-500);
}
