.footer {
  width: 100%;
}

.singup {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  color: var(--white-500);
  background: var(--base-gradient);
}

.singup h1 {
  text-align: center;
  max-width: 528px;
  font-weight: bold;
  font-size: var(--heading-48);
}

.singup p {
  font-size: var(--heading-26);
  text-align: center;
  font-weight: var(--medium);
}

.singup a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 11.985px 34.15px;
  border-radius: var(--base-border-radius);
  border: 1px solid var(--white-500);
  margin-bottom: 32px;
}

.singup a:hover {
  color: var(--primary-500);
  background-color: var(--white-500);
}

.copyright {
  gap: 24px;
  display: flex;
  align-items: center;
  padding: 0 128px;
  background: var(--neutral-500);
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.logo p {
  max-width: 223px;
  font-size: var(--heading-14);
  color: var(--dark-gray-100);
}

.socilaMedia {
  display: flex;
  gap: 8px;
  margin-bottom: 19px;
}

.rights {
  border-top: 1px solid var(--dark-gray-400);
  width: 100%;
  color: var(--white-500);
  text-align: center;
}

/* MEDIA QUERIES */
@media screen and (max-width: 750px) {
  .copyright {
    flex-direction: column;
  }
  .logo {
    align-items: center;
  }

  .logo p {
    max-width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 390px) {
  .singup h1 {
    font-size: var(--heading-32);
  }

  .socilaMedia {
    gap: 24px;
  }
}
