@import "tailwindcss";
@import "./variables.css";

html {
  scroll-behavior: smooth;
}

body {
  background: var(--white-500);
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

::picker(select) {
  appearance: base-select;
}

::picker(select) {
  border: none;
}

/* ::picker(select) {
  top: calc(anchor(bottom) + 1px);
} */
