@import "tailwindcss";
@import "./variables.css";

html {
    scroll-behavior: smooth;
}

body {
    background: var(--white-500);
    font-family: "Inter", sans-serif;
}

body *:not(input):not(textarea):not([contenteditable="true"]) {
    caret-color: transparent;
}

input,
textarea,
[contenteditable="true"] {
    caret-color: auto;
    user-select: text;
}

a {
    text-decoration: none;
}

::picker(select) {
    appearance: base-select;
}

::picker(select) {
    border: none;
}
