.card {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--dark-gray-100);
  border-radius: var(--base-border-radius);
  background: var(--white-500);
  padding: 0px 16px;
  font-weight: var(--semibold);
  font-size: var(--heading-20);
  cursor: pointer;
}

.card:hover {
  border: 1px solid var(--primary-500);
}

.card span {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tooltip {
  visibility: hidden;
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 4px 16px;
  background: var(--primary-100);
  border-radius: var(--base-border-radius);
  font-weight: normal;
  font-size: var(--heading-14);
  top: 100%;
  left: 50%;
  margin-top: 8px;
}

.visible {
  visibility: visible;
}

.red {
  color: var(--red-500);
}

.green {
  color: var(--green-500);
}
